html {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

.resume-parent {
  padding: 0 1.5em;
}

.bold-text {
  font-weight: 700;
}

.semi-bold-text {
  font-weight: 400;
}

.center-text {
  text-align: center;
}

.title-name {
  font-size: xx-large;
  font-weight: 700;
  margin: 0.25em 0;
}

.link-text {
  text-decoration: underline;
  color: #2463d1;
}

.contact-info {
  display: flex;
  justify-content: space-between;
}

.thick-ruler {
  border: 0.15em solid;
}

.thin-ruler {
  border: 0.01em solid;
}

.bullet-points {
  display: flex;
}

.company-info {
  margin: 0.5em 0;
}

@media screen and (min-width: 480px) {
  .bullet-points ul:nth-child(2) {
    margin-left: 15%;
  }
}

@media screen and (max-width: 480px) {
  .bullet-points {
    display: block;
  }
  .bullet-points ul {
    margin: 0;
  }
}
